option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: "teachua-db.ctegro5wnfvo.us-east-1.rds.amazonaws.com"
    DB_PORT: "3306"
    DB_NAME: "teachua"
    DB_USER: "user"
    DB_PASSWORD: "password"
    DATASOURCE_URL: "jdbc:mariadb://teachua-db.ctegro5wnfvo.us-east-1.rds.amazonaws.com:3306/teachua"
    DATASOURCE_USER: "user"
    DATASOURCE_PASSWORD: "password"
    JDBC_DRIVER: "org.mariadb.jdbc.Driver"
    SERVER_PORT: "8080"

global:
  profile: null
